<div class="top" >
    <h1 mat-dialog-title class="pink-text mat-elevation-z1" style="padding: 0.2rem" >Popis za kupovinu</h1>

    <mat-dialog-content class="mat-typography" style="overflow-y: scroll; overflow-x: hidden" >
        <hellena-shopping-list-table
                [table]="table"
                (clear)="handleClear()"
                (itemDone)="handleItemDone($event)"
                (itemRemove)="handleItemRemove($event)"
                (itemCompare)="handleItemCompare()"
                (itemQuantity)="handleItemQuantity($event)"
        >
        </hellena-shopping-list-table>
    </mat-dialog-content>


    <mat-dialog-actions align="end">
        <div>
            <button class="mat-elevation-z1" mat-button mat-dialog-close>Zatvori</button>
        </div>
    </mat-dialog-actions>

</div>
