<div class="top" >
    <h1 mat-dialog-title class="pink-text" >Popis za kupovinu</h1>

    <mat-dialog-content class="mat-typography" style="overflow: hidden; display: contents" >
        <hellena-shopping-list-table
                [table]="table"
                (clear)="handleClear()"
                (itemDone)="handleItemDone($event)"
                (itemRemove)="handleItemRemove($event)"
                (itemCompare)="handleItemCompare()"
                (itemQuantity)="handleItemQuantity($event)"
                style="word-break: break-all;"
        >
        </hellena-shopping-list-table>
    </mat-dialog-content>


    <mat-dialog-actions align="end">
        <div class="viewBtn">
            <button class="addCart" mat-button mat-dialog-close>Zatvori</button>
        </div>
    </mat-dialog-actions>

</div>
