<div class="container">
    <div class="row">
        <owl-carousel-o [options]="carouselOptions">
            <ng-template ngFor let-item [ngForOf]="cards" let-i="index">
                <ng-template carouselSlide>
                        <div style="ma" >
                            <!--  -->
                            <img [src]="item.img" width="820" height="320" />
                            <!--
                            <div class="viewBtn">
                                <span class="link" (click)="handleFooterActionCard(item)" >Pogledaj</span>
                            </div>
                            -->
                        </div>
                </ng-template>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
