<!-- <header class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="leftHeading">
                    <h1>Svi proizvodi iz kataloga na jednom mjestu</h1>
                    <input type="text" placeholder="npr. Kruh">
                </div>
            </div>
            <div class="col-md-6">
                <div class="rightHeaing">
                    <div class="centerImage">
                        <img src="../../../assets/image/Ramen-amico 1.png" alt="">
                    </div>
                    <div class="leftImage">
                        <img src="../../../assets/image/strawberries.png" alt="">
                    </div>
                    <div class="rightImage">
                        <img src="../../../assets/image/Strawberry.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> -->