.element {
    height: 2rem;
    background-color: #fff;
    border: 1px #dadce0 solid;
    color: #5f6368;
    fill: #5f6368;
    border-radius: 8px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

#header {
    background-repeat: no-repeat;
    background-size: cover;
}
