tr.mat-row {
    height: auto !important;
    border-bottom: 1px solid #550acd;
}

tr.mat-row:hover{
    background: #D1D6EE;
}

.sveBox {
    padding: 25px;
}

.productInfo {
    font-family: 'Roboto';
    padding-left: 0.5rem;
    padding-right: 0.5rem
}

.productInfo h1 {
    color: #000000;
}

.productInfo h5 {
    color: #550acd;
}

.productInfo h5 span {
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #c4c4c4;
}

.buttonDesign {
    text-align: end;
}

.buttonDesign button.addCart {
    background-color: #550ACD;
    padding: 10px 17px;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-right: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.buttonDesign button.similarBtn {
    background-color: #8001D9;
    padding: 10px 17px;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-right: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}


@media (max-width: 850px) {
    .sveBox {
        padding: 0px;
    }
    .productInfo {
        padding-left: 0.2rem;
        padding-right: 0.2rem
    }
    .buttonDesign {
        text-align: center;
    }
    .buttonDesign button.addCart {
        padding: 10px 6px;
        font-size: 16px;
        line-height: 18px;
    }
    .buttonDesign button.similarBtn {
        margin-top: 3px;
        padding: 10px 6px;
        font-size: 16px;
        line-height: 18px;
    }
}
