<div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active sveBox" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

            <ng-container *ngIf="table">

                <table mat-table [dataSource]="table.data" class="table-responsive table align-middle table-borderless">

                    <ng-container matColumnDef="icon">
                        <td *matCellDef="let element" class="flexBoxOne">
                            <img [src]="element.icon" />
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <td *matCellDef="let element" class="flexBoxTwo productInfo">
                            <h1>{{ element.name }} </h1>
                            <h5 *ngIf="element?.originalPrice === undefined || element?.originalPrice == null; else allInfo"> {{ element.actionPrice }} kn</h5>
                            <ng-template #allInfo>
                                <h5>{{ element.originalPrice }} kn <span> {{ element.actionPrice }} kn </span></h5>
                            </ng-template>
                            <br>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <td class="buttonDesign flexBoxThree" *matCellDef="let element">
                            <button class="addCart" mat-menu-item (click)="addTableItemToShoppingList.emit(element)">
                                                Add To Cart
                                            </button>
                            <button class="similarBtn" mat-menu-item (click)="compareTableItem.emit(element)">
                                                Similar Item
                                            </button>
                        </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: table.columnNames" class="flex-container"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[12, 24]"
                               [length]="table.totalCount"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>

                <!-- <table mat-table [dataSource]="table.data" class="table-responsive table align-middle table-borderless">

                    
                        <div class="flex-item">
                            <ng-container matColumnDef="icon">
                                <td *matCellDef="let element" class="flex-item">
                                    <img class="md-hide" [src]="element.icon" />
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <td *matCellDef="let element" class="flex-item">
                                    <span style="font-size: large">{{ element.name }} </span>
                                    <br>
                                    <span
                                        *ngIf="element?.originalPrice === undefined || element?.originalPrice == null; else allInfo"
                                        style="font-size: large; color: blue"> {{ element.actionPrice }} kn
                                    </span>
                                    <ng-template #allInfo>
                                        <span
                                            style="font-size: medium; color: grey;  text-decoration: line-through; margin-right: 0.5rem;">
                                            {{ element.originalPrice }} kn </span>
                                        <span style="font-size: large; color: blue;  margin-right: 0.5rem;"> {{
                                            element.actionPrice }} kn
                                        </span>
                                        <br>
                                        <span style="font-size: medium; color: grey;">
                                            Ušteda {{ (element.originalPrice - element.actionPrice) | number : '1.2-2'
                                            }} kn
                                        </span>
                                    </ng-template>
                                    <br>
                                    <span style="text-overflow: ellipsis; white-space: nowrap; font-size: smaller"> {{
                                        element.store }}
                                    </span>
                                </td>
                            </ng-container>
                        </div>

                        <div class="flex-item">
                            <ng-container matColumnDef="actions">
                                <div class="buttonDesign" *matCellDef="let element">
                                    <button class="addCart" mat-menu-item
                                        (click)="addTableItemToShoppingList.emit(element)">
                                        Add To Cart
                                    </button>
                                    <button class="similarBtn" mat-menu-item (click)="compareTableItem.emit(element)">
                                        Similar Item
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    

                    <tr mat-row *matRowDef="let row; columns: table.columnNames" class="flex-container"></tr>
                </table> -->



            </ng-container>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <p>other tab</p>
        </div>
    </div>
