<div class="container-fluid">
    <form [formGroup]="searchForm">
        <div class="row">
            <!-- TODO IME ARTIKLA STAVIT NA MD-12 I DODATI KATEGORIJU-->
            <div class="col-md-12 col-sm-6">
                <mat-form-field style="width: 100%" appearance="fill">
                    <mat-label>Ime artikla</mat-label>
                    <input matInput formControlName="name" >
                </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="rangeSlider">
                    <mat-slider
                            formControlName="priceMax"
                            style="vertical-align: bottom !important;
                            height: auto;
                            width: 100%;
                            padding: 0;"
                            thumbLabel
                            tickInterval="1"
                            step="25"
                            min="0"
                            max="999"
                            aria-label="kn"></mat-slider>
                    <mat-label style="display: block;
                                margin-top: -16px;
                                margin-left: 20px;
                                color: #0009;
                                font-family: Roboto;
                                font-size: 16px;
" >
                        Cijena  <span *ngIf="searchForm.controls['priceMax'].value > 0"> od 0 do {{ searchForm.controls['priceMax'].value }} kn </span>
                    </mat-label>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="dropdown">
                    <div class="input-group">
                        <span class="input-group-text"><img src="../../../assets/image/Group 102.png" alt=""></span>
                        <select class="form-select" aria-label="Default select example" formControlName="featureControl" #featureSelect>
                            <option>Sve</option>
                            <option *ngFor="let f of features" [value]="f.id">
                                {{ f.value }}
                            </option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="dropdown">
                    <div class="input-group">
                        <span class="input-group-text"><img src="../../../assets/image/Frame(4).png" alt=""></span>
                        <select class="form-select" aria-label="Default select example" formControlName="featureControl" #featureSelect>
                            <option>Sve</option>
                            <option *ngFor="let f of features" [value]="f.id">
                                {{ f.value }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
