<form class="example-form mat-elevation-z8" style="margin-top: 1rem; white-space: nowrap; padding: 1rem;"
    [formGroup]="searchForm"
>
    <div class="row">
        <div class="col-12">
            <mat-form-field class="full-width" style="display: block; text-align: center"  >
                <mat-label>Pretraži</mat-label>
                <input matInput type="text" placeholder="npr. Kruh"
                       formControlName="name"
                >
            </mat-form-field>
        </div>
    </div>

    <!-- TODO  style="display: none" -->
    <div class="row" *ngIf="displayFullSearchForm" >
        <div class="col">
            <mat-form-field class="full-width" style="display: block; text-align: center"  >
                <mat-label>Cijena od</mat-label>
                <input matInput type="number" placeholder="0.00"
                       formControlName="priceMIn"
                >
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field class="full-width" style="display: block; text-align: center"  >
                <mat-label>Cijena do</mat-label>
                <input matInput type="number" placeholder="0.00"
                       formControlName="priceMax"
                >
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field style="display: block;" >
                <mat-label>Lokacija</mat-label>
                <mat-chip-list #locationChipperList>
                    <mat-chip
                            *ngFor="let fruit of location.locations"
                            (removed)="remove(fruit)">
                        {{fruit}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input
                            placeholder="npr. Zagreb"
                            #locationChipper
                            formControlName="locationControl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="locationChipperList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of location.filteredLocations | async" [value]="fruit">
                        {{fruit}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <!--
                        <div class="col" >
                            <hellena-select-multiple></hellena-select-multiple>
                        </div>

                                        <div class="col" >
                                            <hellena-select-multiple></hellena-select-multiple>
                                        </div>

                                        <div class="col" >
                                            <hellena-select-multiple></hellena-select-multiple>
                                        </div>
                                -->
    </div>

</form>
