<section>
<div class="container-fluid" style="margin-top: 4.2rem; " >
    <div class="row" >
        <div class="col-9" style="border: 1px solid black" >
            <!-- letak  -->
            <hellena-catalogue-display>
            </hellena-catalogue-display>
        </div>
        <div class="col-3" style="border: 1px solid black" >
            <!-- input components -->
            <p> input components </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="border: 1px solid black" >
            <!-- data table - info on inserted data -->
            <p> display data </p>
        </div>
    </div>
</div>
</section>
