<section>
<div class="container-fluid" style="margin-top: 4.2rem; " >
    <div class="row">
        <div class="col-12" style="border: 1px solid black" >
            <!-- letak  -->
            <hellena-catalogue-display [user]="user" (addedItem)="handleAddedItem()" >
            </hellena-catalogue-display>
        </div>
        <!-- no need for now
        <div class="col-12" style="border: 1px solid black" >
            <hellena-inserted-table></hellena-inserted-table>
        </div>
    -->
    </div>
</div>
</section>
