<section class="top">
    <div class="container">
        <div class="row" >
            <div class="col-12" >
                <h6>version 2.0.x</h6>
                <ul>
                    <li> pošalji poruku autoru </li>
                    <li> technical improvement - clean FE code </li>
                    <li> pretraga paginacija, izbor kategorije i trgovine </li>
                    <li> ikone</li>
                    <li> naslovna stranica najpovoljnije danas spinner</li>
                    <li> popis za kupovinu css </li>
                    <li> preuzmite mobilnu app dijalog</li>
                </ul>
            </div>

            <div class="col-12" >
                <h6>version 1.0.x</h6>
                <ul>
                    <li> prikupljanje svih podataka iz aktualnih kataloga iz različitih trgovina </li>
                    <li> uvid u cijene proizvoda, ali i ostale važne informacije </li>
                    <li> kreiranje popisa za kupnju </li>
                </ul>
            </div>
        </div>
    </div>
</section>
