.card {
    background: #FFFFFF !important;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15) !important;
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}

.card-body {
    padding: 20px !important;
}

.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-transform: capitalize;
    color: #550ACD;
}

.price span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    text-decoration-line: line-through;
    text-transform: capitalize;
    color: #C4C4C4;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.viewBtn {
    text-align: end;
}

.link {
    text-decoration: none;
    border: 1px solid #550ACD;
    box-shadow: 0 3px 4px 0px #550acd7a;
    border-radius: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
}

.card-text {
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    margin-top: 10px;
}

button.addCart {
    background-color: #550ACD;
    padding: 10px 17px;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-right: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
}
