<div class="top" >
    <h1 mat-dialog-title class="pink-text mat-elevation-z1" style="padding: 0.2rem">Hellena</h1>

    <mat-dialog-content class="mat-typography" style="overflow: scroll;" >
        <h1> Dostupna i na mobilnim uređajima </h1>
        <img src="../../../assets/image/hellenaAndroidAppOnGooglePlay.png" alt="">
    </mat-dialog-content>

    <mat-dialog-actions align="center" >
        <button class="mat-elevation-z1" style="width: 45%"
                (click)="handleClean()"
                mat-button>Ne prikazuj više
        </button>
        <button class="mat-elevation-z1" style="width: 45%; background-color: #01875f; color: white;"
                (click)="handleConfirmation()"
                mat-button>Preuzmi
        </button>
    </mat-dialog-actions>

</div>




