.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
    background: whitesmoke;
}

.mat-menu-item {
    text-align: center;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.full-width-table {
    width: 100%;
}

.mobile-size {
    max-width: 100%;
}

.medium-grey {
    font-size: medium;
    color: grey;
}

.large-blue {
    font-size: large;
    color: blue;
}

.move-right {
    margin-right: 0.5rem;
}

.font-large {
    font-size: large
}

.blue-text {
    color: blue;
}

.through-text {
    text-decoration: line-through;
}

.small-ellipsis-text {
    text-overflow: ellipsis;
    font-size: smaller;
}

.text-green {
    color: limegreen;
}

.green {
    background: limegreen;
}

.purple-text {
    color: #8001D9;
}

@media(max-width: 600px) {
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
    }

}
