<ng-container *ngIf="table">
    <p> add New one  </p>
    <table mat-table [dataSource]="table.data" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="icon">
            <td mat-cell *matCellDef="let element" >
                <img class="md-hide" [src]="element.icon" />
            </td>
        </ng-container>
S
        <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let element">
                <span style="font-size: large" >  {{ element.name }} </span>
                <br>
                <span *ngIf="element?.originalPrice === undefined || element?.originalPrice == null; else allInfo"
                      style="font-size: large; color: blue" > {{ element.actionPrice }}  kn
            </span>
                <ng-template #allInfo>
                    <span style="font-size: medium; color: grey;  text-decoration: line-through; margin-right: 0.5rem;" > {{ element.originalPrice }}  kn </span>
                    <span style="font-size: large; color: blue;  margin-right: 0.5rem;" > {{ element.actionPrice }}  kn </span>
                    <span style="font-size: medium; color: grey;" >
                    Ušteda {{ (element.originalPrice - element.actionPrice)  | number : '1.2-2' }}  kn
                </span>
                </ng-template>
                <br>
                <span style="text-overflow: ellipsis; white-space: nowrap; font-size: smaller" > {{ element.store }} </span>
                <!-- TODO disply location on map only full web page-->
            </td>
        </ng-container>


        <ng-container matColumnDef="actions">
            <td mat-cell *matCellDef="let element" style="text-align: center;" >

                <button mat-stroked-button [matMenuTriggerFor]="options" style="width: 100%" >
                    <mat-icon>toc</mat-icon>
                </button>
                <mat-menu #options="matMenu" xPosition="before" yPosition="below" >
                    <button mat-menu-item mat-stroked-button>
                        <mat-icon>done</mat-icon>
                    </button>
                    <button mat-menu-item mat-stroked-button>
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-stroked-button mat-menu-item>
                        <mat-icon>compare_arrows</mat-icon>
                    </button>
                    <mat-form-field mat-menu-item appearance="standard" (click)="$event.stopPropagation()">
                        <input matInput placeholder="Količina" type="number" [value]="element.quantity" (click)="$event.stopPropagation()"  >
                    </mat-form-field>
                </mat-menu>

            </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: table.columnNames" class="gx-0" ></tr>
    </table>


    <mat-paginator [pageSizeOptions]="[12, 24]"
                   [length]="table.totalCount"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

</ng-container>
