<!-- header - app name icon about us, home page
    ljubicasto bijela pozadina
 -->
<div class="footer">
    <!--
        View settings | Filters | Shoping List
    bijela pozadina ljubicaste ikone
    -->
    <mat-divider></mat-divider>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4" >
                    <button (click)="handleFilter($event)" (keydown)="handleKey($event)"   mat-icon-button color="primary" style="width: 100%" >
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
                <div class="col-4" >
                    <mat-paginator [pageSizeOptions]="[12, 24]"
                                   [length]="tableSize"
                                   (page)="handlePage($event)"
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
                <div class="col-4" >
                    <button (click)="handleShoppingList()" mat-icon-button color="primary" style="width: 100%">
                        <mat-icon>list</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>

