<div class="footer">
    <mat-divider></mat-divider>
    <section>
        <div class="container-fluid">
            <div class="row" style="margin-top: 6px;">

                <div class="col-3" >
                    <button mat-button color="primary" style="width: 100%"
                            (click)="handleNavigationClickHome()"
                    >
                        <mat-icon>home</mat-icon>
                    </button>
                </div>

                <div class="col-3" >
                    <button mat-button color="primary" style="width: 100%"
                     (click)="handleNavigationClickAboutUs()"
                    >
                        <mat-icon>business</mat-icon>
                    </button>
                </div>

                <div class="col-3" >
                    <button (click)="handleShoppingList()" mat-icon-button color="primary" style="width: 100%">
                        <mat-icon>list</mat-icon>
                    </button>
                </div>

                <div class="col-3" >
                    <button mat-button color="primary" style="width: 100%" (click)="handleNavigationClickFeedback()" > <!--  -->
                        <mat-icon matBadge="+1" matBadgeSize="small" matBadgeColor="accent"  matBadgePosition="above after" [matBadgeHidden]="!notSee()">
                            notifications </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>

