<hellena-card-container>
    <section class="favorableItem">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="favorableHeading">
                        <h1><span class="bottomColor">Najpo</span>voljnije Danas</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <owl-carousel-o [options]="carouselOptions">
                    <ng-template ngFor let-item [ngForOf]="cards" let-i="index">
                        <ng-template carouselSlide>
                            <div class="card" style="width: 97%;">
                                <div class="card-body">
                                    <h5 class="price"> {{ item.actionPrice }} kn<span> {{ item.orginalPrice }} kn</span></h5>
                                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(item.imageContent)" alt="" class="centerImg" >
                                    <p class="card-text"> {{ item.name }} </p>
                                    <div class="viewBtn">
                                        <span class="link" (click)="handleFooterActionCard(item)" >View</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="seeMoreBtn">
                        <span class="link" (click)="handleFooterActionContainer()" >See More</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</hellena-card-container>
