<hellena-card-container>
    <section class="favorableItem">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="favorableHeading">
                        <h1><span class="bottomColor">Najpo</span>voljnije Danas</h1>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!loaded" >
                <div>
                    <hellena-spinner [spinner]="spinner" ></hellena-spinner>
                </div>
            </div>
            <div class="row" *ngIf="loaded" >
                <owl-carousel-o [options]="carouselOptions">
                    <ng-template ngFor let-item [ngForOf]="cards" let-i="index">
                        <ng-template carouselSlide>
                            <div class="card" style="width: 97%;">
                                <div class="card-body">
                                    <h5 class="price"> {{ item.actionPrice }} kn<span> {{ item.orginalPrice }} kn</span></h5>
                                    <advanced-image *ngIf="iscldImg(item.storeName)"[cldImg]="item.img" ></advanced-image>
                                    <img *ngIf="!iscldImg(item.storeName)" [src]="item.imgItem"  style="width: 150px; height: 150px"  >
                                    <p class="card-text"> {{ item.name }}
                                        <span style="font-family:Roboto; font-weight: lighter; font-size: 0.9rem; text-align: right" > <br> od {{ item?.activeFrom | date:"dd.MM."  }} do {{ item?.activeTo | date:"dd.MM." }} </span>
                                        <span style="font-family:Roboto; font-weight: lighter; font-size: 1rem; text-align: right" > <br> {{ item.storeName }} </span>
                                    </p>
                                    <div class="viewBtn">
                                        <span class="link" (click)="handleFooterActionCard(item)" >Pogledaj</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="row" *ngIf="loaded" >
                <div class="col-md-12">
                    <div class="seeMoreBtn">
                        <span class="link" (click)="handleFooterActionContainer()">Istraži</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</hellena-card-container>
