<hellena-card-container [cardContainer]="dailyDealContainer"
                        (footerAction)="handleFooterActionContainer($event)"
>
    <app-card *ngFor="let item of cards$ | async"
              [card]="item"
              (footerAction)="handleFooterActionCard($event)"
    >
        <div style="text-align: right;" >
            <div>
                <span style="font-size: medium; color: grey;  text-decoration: line-through; margin-right: 0.5rem;" >
                {{ item.oldPrice }}
                </span>
            </div>
            <span style="font-size: large; margin-right: 0.5rem;" >
                {{ item.desc }}
            </span>
        </div>
    </app-card>
</hellena-card-container >
