<div class="container" style="margin-top: 66px"   >
    <div class="row" >
        <div class="col-12" >
            <img mat-card-image src="../../../assets/image/catalogs.jpg" alt="Photo of a Shiba Inu">
            <mat-card style="margin-top: -30px; background: transparent;" >
                <mat-card-content>
                    <h1>
                        Proizvodi iz svih kataloga na jednom mjestu</h1>
                    <p class="text">
                        Hellena prikuplja sve podatke iz aktualnih katalog iz različitih trgovina i omogućuje ti uvid u cijene proizvoda, ali i ostale važne informacija.
                        Također ti omogućuju da jednostavnim klikom na proizvod kreiraš popis za kupovinu.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="viewBtn">
                        <button class="addCart" mat-button (click)="handleALl()">
                            Istraži
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="row" style="margin-top: 3.5rem !important;" >
        <div class="col-12">
            <div class="detailHeading">
                <h1><span class="bottomColor">AKCIJE</span> IZ SVIH KATALOGA
                    NA JEDNOM MJESTU</h1>
            </div>
        </div>
        <div class="col-12" >
            <mat-card style="box-shadow: 0 0 0 0 !important;" >
                <mat-card-header>
                    <div mat-card-avatar style="background-size: cover; background-image: url('../../../assets/image/Group 16.png')" > </div>
                    <mat-card-title> Brzo pronađi ono što trebš </mat-card-title>
                </mat-card-header>
                <img mat-card-image style="width: 320px;" src="../../../assets/image/Eco shopping-amico 1.png">
            </mat-card>
        </div>
        <div class="col-12" >
            <mat-card style="box-shadow: 0 0 0 0 !important;">
                <mat-card-header>
                    <div mat-card-avatar style="background-size: cover; background-image: url('../../../assets/image/Group 16.png')" > </div>
                    <mat-card-title>Usporedi cijene</mat-card-title>
                </mat-card-header>
                <img mat-card-image style="width: 320px;" src="../../../assets/image/bro.png">
            </mat-card>
        </div>
        <div class="col-12" >
            <mat-card style="box-shadow: 0 0 0 0 !important;">
                <mat-card-header>
                    <div mat-card-avatar style="background-size: cover; background-image: url('../../../assets/image/Group 16.png')" > </div>
                    <mat-card-title>Napravi popis za kupovinu</mat-card-title>
                </mat-card-header>
                <br>
                <img mat-card-image style="width: 320px;" src="../../../assets/image/amico.png">
            </mat-card>
        </div>
    </div>

    <div class="row" style="margin-top: 2.5rem !important; margin-bottom: 66px; padding-bottom: 0 !important;" >
        <div class="col-12">
            <div class="detailHeading">
                <h1><span class="bottomColor">Istraži</span> kategorije</h1>
            </div>
            <mat-card>
                <mat-card-content>
                    <img class="center" style="width: 220px;" src="../../../assets/image/category (4).png" (click)="handleCategory('Meso i riba')" >
                    <h6 style="text-align: center; " > Meso i riba </h6>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card  (click)="handleCategory('Voće i povrće')"  >
                <mat-card-content>
                    <img class="center" style="width: 220px;" src="../../../assets/image/category (2).png" (click)="handleCategory('Meso i riba')" >
                    <h6 style="text-align: center; " > Voće i povrće </h6>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card  (click)="handleCategory('Piće')" >
                <mat-card-content>
                    <img class="center" style="width: 220px;" src="../../../assets/image/category (1).png" (click)="handleCategory('Meso i riba')" >
                    <h6 style="text-align: center; " > Piće </h6>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
