<!-- Header-->
<app-header [title]="subTitle"></app-header>

<div class="container-md g-1">
    <section class="py-5" style="padding-bottom: 0 !important; padding-top: 0 !important; ">
        <hellena-daily-deal-container>
        </hellena-daily-deal-container>
    </section>

    <section class="detailsInformation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="detailHeading">
                        <h1><span class="bottomColor">AKCIJE</span> IZ SVIH KATALOGA
                            NA JEDNOM MJESTU</h1>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sideImage align-middle">
                        <img class="aling-middle" src="../../../assets/image/Frame(1).png" alt="">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contentSide">
                        <!--                        <img class="topImage" src="../../../assets/image/Frame(1).png" alt="">
                                                <h1>Ne želim previše potrošiti !</h1> -->
                        <div class="contentDetails">
                            <img src="../../../assets/image/01.png" alt="">
                            <p>
                                Hellena je tvoj virtualni asistent i tu je da ti pomogne pri odabiru kvalitetnih proizvoda putem interneta i uštedi ti vrijeme i novac. Ona ima pristup svim aktualnim katalozima te ti omogućuje njihovo jednostavnije i brže pretraživanje.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5" style="margin-top: 3.5rem !important;" >
                <div class="col-md-4" >
                    <mat-card style="box-shadow: 0 0 0 0 !important;" >
                        <mat-card-header>
                            <div mat-card-avatar style="background-size: cover; background-image: url('../../../assets/image/Group 16.png')" > </div>
                            <mat-card-title> Brzo pronađi ono što trebš </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image style="width: 320px;" src="../../../assets/image/Eco shopping-amico 1.png">
                    </mat-card>
                </div>
                <div class="col-md-4" >
                    <mat-card style="box-shadow: 0 0 0 0 !important;">
                        <mat-card-header>
                            <div mat-card-avatar style="background-size: cover; background-image: url('../../../assets/image/Group 16.png')" > </div>
                            <mat-card-title>Usporedi cijene</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image style="width: 320px;" src="../../../assets/image/bro.png">
                    </mat-card>
                </div>
                <div class="col-md-4" >
                    <mat-card style="box-shadow: 0 0 0 0 !important;">
                        <mat-card-header>
                            <div mat-card-avatar style="background-size: cover; background-image: url('../../../assets/image/Group 16.png')" > </div>
                            <mat-card-title>Napravi popis za kupovinu</mat-card-title>
                        </mat-card-header>
                        <br>
                        <img mat-card-image style="width: 320px;" src="../../../assets/image/amico.png">
                    </mat-card>
                </div>

                <!--
                <div class="col-md-6">
                    <div class="mainContent">
                        <div class="topImage">
                            <img src="../../../assets/image/Group 16.png" alt="">
                            <h1>Napravi popis za kupovinu</h1>
                         </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mainImage">
                        <img src="../../../assets/image/Eco shopping-amico 1.png" alt="">
                    </div>
                </div>

            </div>
            <div class="row gapSet">
                <div class="col-md-6">
                    <div class="mainImage">
                        <img src="../../../assets/image/bro.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mainContent">
                        <div class="topImage">
                            <img src="../../../assets/image/Group 16.png" alt="">
                            <h1>Usporedi cijene i kvalitetu te izaberi najbolje za sebe</h1>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-6">
                    <div class="mainContent">
                        <div class="topImage">
                            <img src="../../../assets/image/Group 20.png" alt="">
                            <h1>Napravi popis za kupovinu</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mainImage">
                        <img src="../../../assets/image/amico.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5" style="padding-top: 0 !important; ">
        <hellena-item-category-container>
        </hellena-item-category-container>
    </section> -->

</div>
        </div>
    </section>
</div>
<!-- TODO https://www.shopify.com/faq -->
    <section class="faqSection">
    <div class="faqCurve">
        <div class="faqContent">
            <div class="container">
                <div class="row" style="margin-bottom: 1.5rem" >
                    <div class="col-md-12">
                        <div class="faqHeading">
                            <h1>Kako ti možemo pomoći?</h1>
                            <input type="text" placeholder="Opiši šta bi htio vidjeti na stranici">
                        </div>
                    </div>
                </div>
                <div class="row faqSet">
                    <div class="faqImage">
                        <img src="../../../assets/image/faq.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="accordion" id="myAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                        <span>Koliko je vjerojatno da ćeš nas preporučiti ?</span>
                                    </a>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p> todo od 1 do 10 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"><span>Where does it come from?</span></a>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"><span>Why do we use it?</span></a>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TODO https://www.appcues.com/blog/in-app-user-surveys-customer-feedback-nps-examples -->
                    <div class="col-md-6">
                        <div class="accordion" id="myAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"><span>Where does it come from?</span></a>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"><span>Why do we use it?</span></a>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"><span>Where can I get some?</span></a>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven"><span>Why do we use it?</span></a>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
