<!-- Header-->
<app-header [title]="subTitle"></app-header>

<div class="container-md g-1">
    <section class="py-5" style="padding-bottom: 0 !important; padding-top: 0 !important; ">
        <hellena-daily-deal-container>
        </hellena-daily-deal-container>
    </section>
    <section class="detailsInformation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="detailHeading">
                        <h1><span class="bottomColor">Akcije</span> iz svih trgovina na jednom mjestu</h1>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-6">
                    <div class="mainContent">
                        <div class="topImage">
                            <img src="../../../assets/image/Group 16.png" alt="">
                            <h1>Brzo pronađi ono što trebš</h1>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                to using 'Content here, content here', making it look like readable English. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mainImage">
                        <img src="../../../assets/image/Eco shopping-amico 1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row gapSet">
                <div class="col-md-6">
                    <div class="mainImage">
                        <img src="../../../assets/image/bro.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mainContent">
                        <div class="topImage">
                            <img src="../../../assets/image/Group 16.png" alt="">
                            <h1>Usporedi cijene i kvalitetu te izaberi najbolje za sebe</h1>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                to using 'Content here, content here', making it look like readable English. </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-6">
                    <div class="mainContent">
                        <div class="topImage">
                            <img src="../../../assets/image/Group 20.png" alt="">
                            <h1>Napravi popis za kupovinu</h1>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                to using 'Content here, content here', making it look like readable English. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mainImage">
                        <img src="../../../assets/image/amico.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5" style="padding-top: 0 !important; ">
        <hellena-item-category-container>
        </hellena-item-category-container>
    </section>

</div>
<section class="faqSection">
    <div class="faqCurve">
        <div class="faqContent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="faqHeading">
                            <h1>FAQ's</h1>
                        </div>
                    </div>
                </div>
                <div class="row faqSet">
                    <div class="faqImage">
                        <img src="../../../assets/image/faq.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="accordion" id="myAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne"><span>What is Lorem Ipsum?</span></a>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"><span>Where does it come from?</span></a>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"><span>Why do we use it?</span></a>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="accordion" id="myAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"><span>Where does it come from?</span></a>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"><span>Why do we use it?</span></a>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"><span>Where can I get some?</span></a>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven"><span>Why do we use it?</span></a>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                    <div class="card-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>