<section class="navigationSection">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light"  >
        <div class="container">
            <mat-toolbar>
                <a class="navbar-brand" class="title" href="#">Hellena</a>
                <span class="example-spacer"></span>
                <button mat-button (click)="handleNavigationClickFeedback()" >
                    <mat-icon class="white-icon"> notifications </mat-icon>
                    <span *ngIf="notSee()" style="padding-bottom: 10px" >+1</span>
                </button>
            </mat-toolbar>
        </div>
    </nav>
</section>
