<footer class="py-5 bg-primary"  style="font-size: smaller" >
  <div class="container px-4 px-lg-5 mt-5" >
      <div class="row">
      <div class="col-md-4 col-sm-12" style="text-align: justify;">
      <h6 style="color: white" > Korištenje podataka </h6>
        <span>
        Podatke proizvoda (ime artikla, cijena, lokacija trgovine, datum trajanja akcije) objavljeni su na dobrovoljnoj bazi bez naručene usluge oglašavanja od strane prodavatelja istih te za njih nije nastala obveza plaćanja naknade. Prodavatelj ima pravo povući prikaz artikla u bilo kojem trenutku.
        </span>
      </div>

      <div class="col-md-4 col-sm-12" >
        <h6  style="color: white; margin-top: 0.5rem;">hellena.info </h6>
        <span>
          S Hellenom, imaš jednostavan i brzi pristup artiklima koji su trenutno na akciji.
        </span>
      </div>

      <div class="col-md-4 col-sm-12" >
        <h6 style="color: white; margin-top: 0.5rem;" >Kontakt </h6>
        <span>email: help@hellena.info
          <br>
          tel: 091 226 6016
        </span>
      </div>
      </div>
  </div>
  <div class="container"><p class="m-0 text-center text-white" style="margin-top: 0.5rem;" >Copyright &copy; Helena 2022</p></div>
</footer>
