<section class="footerSection">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footerLogo">
          <h1>Hellena</h1>
        </div>
        <div class="footerContent">
          <p>help@hellena.info</p>
          <p>091 226 6016</p>
          <p>With Hellen, you have easy and quick access to items that are currently on sale.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="importantLink">
          <h1>Important Links</h1>
        </div>
        <div class="importantLink">
          <a href="">Home</a>
          <a href="">Services</a>
          <a href="">Menu</a>
          <a href="">FAQ's</a>
          <a href="">Contact</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="socialLInk">
          <h1>Follow us</h1>
        </div>
        <div class="socialLInk">
          <a href="">Facebook</a>
          <a href="">Instagram</a>
          <a href="">LinkedIn</a>
          <a href="">Twitter</a>
          <a href="">Youtube</a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRight">
    <p class="text-center">Copyright © <b>Helena</b> 2022</p>
  </div>
</section>