<section class="footerSection">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="footerLogo">
          <h1>Hellena</h1>
        </div>
        <div class="footerContent">
          <p>help@hellena.info</p>
          <p>091 226 6016</p>
          <p>Uz Hellen imate jednostavan i brz pristup artiklima koji su trenutno na rasprodaji.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="importantLink">
          <h1><b>Navigacija</b></h1>
        </div>
        <div class="socialLInk">
          <a href="index">Naslovnica</a>
          <a href="search">Pretraga</a>
          <a href="about-us">O nama</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="socialLInk">
          <h1><b>Pratite nas</b></h1>
        </div>
        <div class="socialLInk">
          <a href="https://www.facebook.com/Hellena-102499005799375">Facebook</a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRight">
    <p class="text-center">Copyright © <b>Helena</b> 2022</p>
  </div>
</section>
