<div #focus></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-bottom: 40px; padding-top: 101px;" >
                <hellena-search-result-mobile
                        [displayTable]="displyTable"
                    [data]="table.data"
                    (addToShoppingChart)="handleAddTableItemToShoppingList($event)"
                    (loadMore)="handleLoadMore()"
                >
                </hellena-search-result-mobile>
               <hellena-spinner [spinner]="spinner" ></hellena-spinner>
            </div>
        </div>
    </div>
</section>

