<section class="aboutSection">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="sideImage">
                    <img src="../../../assets/image/No face mask entry-bro 1.png" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="contentSide">
                    <h1><span class="bottomColor">O </span>Helleni</h1>
                    <div class="contentDetails">
                        <img src="../../../assets/image/01.png" alt="">
                        <p>
                            Hellena je (start up) projekt zamišljen da bude od pomoći potrošačima kako bi lakše i pametnije obavljali kupnju.
                            Ona je virtualni asistent koji te obavještava o trenutnim akcijama proizvoda u različitim dućanima.
                            Ideja nastanka proizašla je upravo iz ovih teških vremena u kojima živimo, gdje su troškovi života drastično počeli
                            rasti, a svaka pomoć i savjet su nam dobrodošli.
                            Zato biraj Hellenu jer ti upravo ona pruža iznimnu uslugu koju želimo i sami iskusiti!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 aboutDetail">
                <h1><span class="bottomColor">S Hellenom</span> možeš </h1>
            </div>

            <div class="col-md-4" >
                <mat-card style="box-shadow: 0 0 0 0 !important;" >
                    <mat-card-header>
                        <div mat-card-avatar style="background-size: cover; background-image: url('../../../assets/image/Group 16.png')" > </div>
                        <mat-card-title> Brzo pronaći ono što trebš </mat-card-title>
                    </mat-card-header>
                    <img mat-card-image style="width: 320px;" src="../../../assets/image/Eco shopping-amico 1.png">
                </mat-card>
            </div>
            <div class="col-md-4" >
                <mat-card style="box-shadow: 0 0 0 0 !important;">
                    <mat-card-header>
                        <div mat-card-avatar style="background-size: cover; background-image: url('../../../assets/image/Group 16.png')" > </div>
                        <mat-card-title>Usporediti cijene</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image style="width: 320px;" src="../../../assets/image/bro.png">
                </mat-card>
            </div>
            <div class="col-md-4" >
                <mat-card style="box-shadow: 0 0 0 0 !important;">
                    <mat-card-header>
                        <div mat-card-avatar style="background-size: cover; background-image: url('../../../assets/image/Group 16.png')" > </div>
                        <mat-card-title>Napraviti popis za kupovinu</mat-card-title>
                    </mat-card-header>
                    <br>
                    <img mat-card-image style="width: 320px;" src="../../../assets/image/amico.png">
                </mat-card>
            </div>

        </div>
        <div class="row mt-5">
            <div class="aboutDetail">
                <h1><span class="bottomColor">Kako</span> Hellena radi ?</h1>
        </div>
        </div>
        <div class="row mt-2 mb-5">
            <div class="col-md-8">
                <div class="contentSide">
                    <img _ngcontent-vme-c42="" src="../../../assets/image/Vector.png" alt="" class="topImage">
                    <h1>Jednostavno i pametno</h1>
                    <div class="contentDetails">
                        <img src="../../../assets/image/02.png" alt="">
                        <p>
                        Hellena prikuplja sve podatke iz aktualnih kataloga iz različitih trgovina i omogućuje ti uvid u cijene proizvoda, ali i ostale važne informacije.
                        Također ti omogućuje da jednostavnim klikom na proizvode stvoriš popis za kupnju.
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sideImage">
                    <img src="../../../assets/image/Interaction Design-rafiki 1.png" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="sideImage">
                    <img src="../../../assets/image/Features Overview-pana 1.png" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="contentSide">
                    <img class="topImage" src="../../../assets/image/Group.png" alt="">
                    <h1>O autoru</h1>
                    <div class="contentDetails">
                        <img src="../../../assets/image/03.png" alt="">
                        <p>
                            Ideja za kreiranje ove aplikacije proizašla je iz jednog običnog dana kada sam sastavljao popis za tjednu kupnju i tada shvatio koliko vremena mi oduzima to što svaki online katalog moram posebno otvarati. Počeo sam razmišljati i zapisivati svoje ideje i naposljetku je to rezultiralo kreiranjem ove aplikacije koja štedi i vrijeme i novac.
                        </p>
                        <p>
                            Kroz 7 godina profesionalnog iskustva na poziciji Full Stack Developera stekao sam naviku stavljati kvalitetu prije kvantite i jednostavnost ispred kompliciranja.Sve je počelo malim koracima, od izrade jednostavnih web stranica, preko proučavanja modernih alata i tehnika, te sam radom i trudom došao do te pozicije da samostalno pokrenem aplikaciju Hellena- VA.
                        </p>
                        <p>Vizija Hellena je da olakša život kad je u pitanju odlazak u nabavku te da nam uštedi vrijeme i novac.</p>
                        <p style="text-align: right; font-style: italic">Ivan Gavlik</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>

<section class="feedbackForm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 middle">
                <div class="feedback">
                    <h1>Pošalji poruku autoru</h1>
                </div>
                <div class="inputForm">
                    <input type="text" class="form-control" placeholder="Email">
                    <textarea name="" id=""  class="form-control" placeholder="Poruka" ></textarea>
                    <div class="endAlign">
                        <button class="btn">Pošalji</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
