<div class="container px-4 px-lg-5 mt-5 text-secondary">
    <div class="row">
        <div class="col-12" >
            <div>
                <h4> Akcije iz svih trgovina na jednom mjestu </h4>
                <p> Hellena je tvoja <b> mala pomoćnica </b> za pronalaženje najboljih ponuda. Hellena ima pristup
                    svim aktualnim katalozima te ti omogućuje njihovo jednostavno pretraživanje. </p>
                <ul>
                    <li> <h5> Brzo pronađi ono što trebaš </h5> </li>
                    <li> <h5> Usporedi cijene i kvalitetu te izaberi najbolje za sebe </h5> </li>
                    <li> <h5> Napravi popis za kupovinu </h5></li>
                </ul>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7" style="text-align: justify" >
            <div>
            <h4> Kako Hellena radi ? </h4>
                <ul>
                    <li>
                        <h6 style="font-weight: bold"> Ne želim previše potrošiti ! </h6>
                        <p>
                            Sve počne prilično nevino. Ideš u svoju omiljenu trgovinu, trebaš kupiti voće, povrće jer si sve potrošio, također uočavaš razne artikle poput kave ili mlijeka, i onda ti na um padne ova mala misao "Zar ne bi moglo biti jeftinije" ? Ovdje smo da ti kažemo upravo to DA, može biti jeftinije! Čak ćemo te i uputiti gdje.
                        </p>
                        <p>
                            Hellena ti ne obećava bezbrižan i uspješan život, zaglađivanje bora dodirom čarobnog štapića.
                            Trudimo se dati nešto za što uistinu vjerujemo da bi trebalo biti dostupno svim korisnicima
                            - mogućnost izbora kroz jednostavan i brz pristup informacijama o cijenama proizvoda na tržištu.                        </p>
                        <p>
                            Danas ne živimo u vremenu monopola, u kojem jedna tvrtka postavlja cijene na koje svi moraju pristati.
                            Razni proizvođači, mnoštvo trgovina, alternativna rješenja i mogućnosti samo su neki faktori koji
                            nam omogućuju da pronađemo proizvode visoke kvalitete po najpovoljnijoj cijeni. Što se podrazumijeva
                            pod "visoka kvaliteta" i "najbolja cijena" ovisi o svačijoj interpretaciji. Ono što je, međutim,
                            univerzalno je činjenica da je dobar dućan onaj koji svojim kupcima nudi mogućnost niže cijene.
                            Nemojte praviti kompromise u pogledu kvalitete i uštede u tom process. To je win-win situacija!
                        </p>
                    </li>
                    <li>
                        <h6 style="font-weight: bold"> Pristup informacijama </h6>
                        <p>
                            Često od svojih prijatelja možemo ćuti kako su proizvode ili usluge nabavili na super akciji,
                            kako si je prijatelj kupio alata, koji bi i Vama dobro došao, na akciji po dobroj cijeni,
                            kako si je susjeda napunila police od vrha do dna na super popustima.                        </p>
                        <p>
                            Kako je to moguće i zašto skoro uvijek propuštam takve prilike ? Krajnje je vrijeme da poduzmem nešto
                            po ovom pitanju. Konačno, Hellena ti daje neograničeni pristup svim artiklima iz kataloga iz skoro svih trgovina.
                            Bilo da se radi o kupnji WC papira ili krumpira, Hellena će ti na jednom mjestu pokazati ponudu
                            iz svih trgovina.
                        </p>
                        <p>
                            Jednostavno rečeno, s Hellenom, imaš pristup svim artiklima koji su trenutno na akciji i time mogućnost
                            izbora kroz uvid u cijene proizvoda (i ostale informacije) iz svih trgovina. Kada se odlučiš možeš
                            dodati artikli u popis za kupovinu te isplanirati kupovinu
                        </p>
                    </li>
                    <li>
                        <h6 style="font-weight: bold"> Jednostavno korištenje </h6>
                        <p>
                            Trudimo se kreirati jednostavno i praktično rješenje za pregled i usporedbu artikala.
                            Kategorije su intuitivne, moguće je pretraživati po lokacijama i pojedinim trgovinama. Također
                            moguće je napraviti ograničenje cijene. Marljivo radimo na povećanju baza podataka artikala koja
                            nam je sa svakim danom sve veća i veća.
                        </p>
                    </li>
                    <li>
                        <h6 style="font-weight: bold"> Početak</h6>
                        <p>
                            Hellena je tek nedavno zaživjela, i toga smo svjesni :) Puno toga ćemo ti omogućiti od dobivanja
                            obavijesti na email ili sms o pojedinim akcijama, pa čak i online kupovine tako da se
                            se moraš zamarati odlaskom u trgovinu. Ne moraš posjećivati ovu stranicu svaki dan, samo imaj na umu
                            da postoji mjesto gdje imaš mogućnost izbora kroz pristup informacijama o svim ponudama na jednom mjestu.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
