<section class="navigationSection">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container">
      <mat-toolbar>
          <a class="navbar-brand" style="font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 37px;
color: #fff;" href="#">Hellena</a>
          <span class="example-spacer"></span>
          <button mat-button class="white-icon" (click)="handleNavigationClickAboutUs()"  >
              <mat-icon>business</mat-icon>
          </button>
          <button mat-button (click)="handleNavigationClickSearch()" >
              <mat-icon class="white-icon">search</mat-icon>
          </button>
          <button mat-button  (click)="handleNavigationClickShoppingCart()" >
              <mat-icon class="white-icon" >shopping_cart</mat-icon>
          </button>
      </mat-toolbar>
        </div>
    </nav>

</section>
