
.navigationSection nav{
    background: linear-gradient(92.02deg, #550ACD 26.67%, #8001D9 73.9%);
    padding: 10px 0px;
}
.ml-auto{
    margin-left: auto;
}
.navItem a.navbar-brand{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 37px;
    
    color: #FFFFFF;
    
    
}
.navItem .nav-item a{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 21px;

color: #FFFFFF;
}

.viewBtn {
    text-align: end;
}

.addCart {
    text-decoration: none;
    background: #550ACD;
    box-shadow: 0 5px 8px 3px #550acd7a;
    border-radius: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 25px;
    color: #fff;
    padding: 16px 37px;
}
