.mat-dialog-container {
    width: 70vw !important;
}

.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
    background: #8001D9;
}

@media(max-width:776px) {
    .mat-dialog-container {
        width: 90vw !important;
    }
    .mat-slider {
        padding: 8px;
    }
    .mobi-margin {
        margin-top: 2.1rem;
    }
}

#filter {
    padding-top: 1rem;
}

#filter mat-label {
 /*   color: white; */
}

#filter .mat-form-field {
    /*   color: white; */
}

#filter .mat-input-element::placeholder {
    /*   color: white; */
    opacity: 1; /* Firefox */
}

.white-icon {
    color: white;
}

#filter .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 1.59rem;
}

#filter .mat-form-field-appearance-outline .mat-form-field-outline-start {
    /*  border: 1px solid white; */
      border-right: none;
  }

  #filter .mat-form-field-appearance-outline .mat-form-field-outline-end {
      border-radius: 0 5px 5px 0;
  }

  #filter .mat-form-field-label {
      /*   color: white; */
}

#filter .mat-form-field-appearance-outline .mat-form-field-outline-end {
/*   border: 1px solid white; */
   border-left: none;
}

#filter .mat-form-field-appearance-outline .mat-form-field-outline-gap {
/*   border-top: 1px solid white; */
/*   border-bottom: 1px solid white; */
}

#filter .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
   border-top-color: transparent;
}

#filter .mat-chip.mat-standard-chip {
   color: #8001D9;
}

.mat-slider {
   display: inline-flex;
}

.mat-slider-thumb {
   background-color: #550acd !important;
}

.mat-slider-thumb-label {
   background-color: #550acd !important;
}

.mat-slider-track-fill {
   background-color: #550acd !important;
}

.mat-tab-header {
    margin-bottom: 1rem;
}

.mat-toolbar {
    background: transparent;
    color: white;
}

.cdk-overlay-pane {
    max-width: 95vw !important;
}

#category .mat-icon {
    color: #550acd;
}
#category .material-icons {
    font-size: 17px;
}
