.mat-dialog-container {
    width: 70vw !important;
}

@media(max-width:776px) {
    .mat-dialog-container {
        width: 90vw !important;
        padding: 15px 0px !important;
    }
}

.mat-slider {
    display: inline-flex;
}

.mat-slider-thumb {
    background-color: #550acd !important;
}

.mat-slider-thumb-label {
    background-color: #550acd !important;
}

.mat-slider-track-fill {
    background-color: #550acd !important;
}
