
<div class="col-12">
  <!-- autocomplete -->
 <input class="element" style="width: 100%; margin-top: 1rem; box-shadow: 0.1rem 0.1rem"
        placeholder="Pretraivanje proizvoda"
 />
</div>



<!-- must be scrollable to left (responsive and lots of data)   -->
<div class="row" style="white-space: nowrap; margin-top: 1rem">

  <!-- display flex
      white-space: nowrap;
  -->

  <div class="col" style="overflow: hidden; overflow-x: auto;">

    <!-- icon dropdown autocomplete multiselect when is selected: border-primary -->
    <button class="element right" > Lokacija: Zagreb  </button>

    <button class="element right" > Trgovina: Sve </button>

    <!-- icon input number -->
    <input class="element right" placeholder="price min" />

    <!-- icon input number -->
    <input class="element" placeholder="price max" />


  </div>

</div>
<!-- TODO sort -->

<!-- save search -->

<!-- sortiranje u tablici -->
<!-- izbor grid ili lista u tablici -->
<table class="table border-primary" style="margin-top: 1rem; z-index: -1">
<tbody>

  <tr class="border-primary" >
    <th scope="row" > <!-- add actions add to shopping list, save for latter (icons) -->1 </th>
    <td> Konzum </td>
    <td> Kruh </td>
    <td> 12.45 </td>
  </tr>

  <tr class="border-primary">
    <th scope="row" > 2 </th>
    <td> Lidl </td>
    <td> Kruh </td>
    <td> 12.45 </td>
  </tr>

  <tr class="border-primary">
    <th scope="row" > 3 </th>
    <td> Plodine </td>
    <td> Kruh </td>
    <td> 12.45 </td>
  </tr>

</tbody>
</table>
