<div class="col-12">
  <!-- autocomplete -->
 <input style="width: 100%"
        placeholder="-meni- Pretraivanje proizvoda   -some action-"
 />
</div>



<!-- must be scrollable to left (responsive and lots of data)   -->
<div class="row">

  <div class="col">
    <!-- icon dropdown autocomplete multiselect when is selected: border-primary -->
    <button class="border-primary bg-transparent"  style="width: 100%; height: 2rem; border-radius: 15%"> n  </button>
  </div>

  <div class="col">
    <!-- icon dropdown autocomplete multiselect -->
    <button class="border-primary bg-transparent"  style="width: 100%; height: 2rem; border-radius: 15%" > n </button>
  </div>

  <div class="col">
    <!-- icon input number -->
    <input class="border-primary bg-transparent"  style="width: 100%; height: 2rem; border-radius: 15%"  placeholder="price min" />
  </div>

  <div class="col">
    <!-- icon input number -->
    <input class="border-primary bg-transparent"  style="width: 100%; height: 2rem; border-radius: 15%"  placeholder="price max" />
  </div>
</div>
<!-- TODO sort -->


<!-- save search -->

<!-- sortiranje u tablici -->
<!-- izbor grid ili lista u tablici -->
<table class="table border-primary" style="margin-top: 1rem">
<tbody>

  <tr class="border-primary" >
    <th scope="row" > <!-- add actions add to shopping list, save for latter (icons) -->1 </th>
    <td> Konzum </td>
    <td> Kruh </td>
    <td> 12.45 </td>
  </tr>

  <tr class="border-primary">
    <th scope="row" > 2 </th>
    <td> Lidl </td>
    <td> Kruh </td>
    <td> 12.45 </td>
  </tr>

  <tr class="border-primary">
    <th scope="row" > 3 </th>
    <td> Plodine </td>
    <td> Kruh </td>
    <td> 12.45 </td>
  </tr>

</tbody>
</table>
