<div class="top" >
    <h1 mat-dialog-title class="pink-text mat-elevation-z1" style="padding: 0.2rem"  >Kategorije</h1>

    <mat-dialog-content class="mat-typography" style="overflow: scroll;" >
        <mat-selection-list #list>
            <mat-list-option *ngFor="let c of data" [value]="c" [selected]="c.selected" >
                {{c.value}}
            </mat-list-option>
        </mat-selection-list>
    </mat-dialog-content>

    <!-- Sve opcija -->
    <!-- TOOO CLEAN button  -->
    <mat-dialog-actions align="center" >
        <button class="mat-elevation-z1" style="width: 45%"
                (click)="handleClean()"
                mat-button>Poništi odabir
        </button>
        <button class="mat-elevation-z1" style="width: 45%"
                (click)="handleConfirmation()"
                mat-button>Potvrdi
        </button>
    </mat-dialog-actions>

</div>




